---
import Layout from '@layouts/BaseLayout.astro';
import Container from '@components/Container.astro';
import { Display, Text } from '@components/typography';
import Button from '@react-ui/button/Button';
import { GradientAreaChart, SimpleBarChart } from '@react-ui/visualizations';
import { CalendarCard } from '@components/examples/CalendarCard';
import { UserDropdown } from '@components/examples/UserDropdown';
import { DatePicker } from '@components/examples/DatePicker';
import { LoginForm } from '@components/examples/LoginForm';
import { Workspace } from '@components/examples/Workspace';
import { RegisterForm } from '@components/examples/Register';
import { RegisterForm2 } from '@components/examples/Register2';
import { SliderExample } from '@components/examples/Slider';
import { ProgressExample } from '@components/examples/Progress';
import { Card } from '@components/Card';
import { Team } from '@components/examples/Team';
import { ProfileEdit } from '@components/examples/ProfileEdit';
import { Orders } from '@components/examples/OrdersTable';
import { NewProject } from '@components/examples/NewProject';
import { NewProject2 } from '@components/examples/NewProject2';
import { NewTask } from '@components/examples/NewTask';
import { RepositoryEdit } from '@components/examples/RepoEdit';
import { JobBoard } from '@components/examples/JobBoard';
import { OverviewCards, WithCharts, StackedCards } from '@components/examples/OverviewCards';
import { CustomizerPill } from '@components/customizer/Pill';
import { Sidebar } from '@components/examples/sidebar/Sidebar';
import { Sidebar3 } from '@components/examples/sidebar/Sidebar3';
import { Sidebar4 } from '@components/examples/sidebar/Sidebar4';
import { Traffic } from '@react-ui/visualizations';
import { HomeCopyButton } from '@components/Button/CodeCopyButton';
import Annonce from '@react-ui/annonce/Annonce';

const previewContainer = 'sm:h-full sm:py-10 sm:border sm:p-[--card-padding] sm:rounded-[--card-radius] sm:flex sm:justify-center sm:items-center dark:sm:border-gray-800';
---

<Layout title="Tailus UI React">
    <CustomizerPill client:load />
    <section class="pt-12 lg:pt-32 md:pt-20 space-y-12">
        <Container>
            <div class="max-w-lg">
                <Annonce.Root href="/examples" variant="mixed" className="pr-2">
                    <Annonce.Concern size="xs">New</Annonce.Concern>
                    <Annonce.Message className="text-sm">UI Examples are now available!</Annonce.Message>
                    <div class="relative scale-75 flex ml-2 items-center transition-transform">
                        <span class="absolute inset-y-0 right-[5px] my-auto w-2.5 block opacity-0 h-[1.5px] -translate-y-[0.25px] bg-gray-950 dark:bg-white origin-left scale-x-0 transition duration-300 group-hover:opacity-100 group-hover:scale-x-100"></span>
                        <svg aria-hidden xmlns="http://www.w3.org/2000/svg" class="size-4 -translate-x-2 text-[--title-text-color] transition duration-300 group-hover:translate-x-px" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </div>
                </Annonce.Root>
                <Display weight={{ initial: 'medium' }} size="4xl" className="mt-14 sm:text-5xl">React UI Kit for Custom Web UIs</Display>
                <div class="max-w-lg">
                    <Text>Highly customizable components for crafting modern, personalized websites and applications.</Text>

                    <div class="flex gap-3 flex-wrap">
                        <Button.Root className="font-medium px-3" variant="solid" intent="neutral" size="sm" href="/react/get-started/installation">
                            <Button.Label>Get Started</Button.Label>
                        </Button.Root>
                        <HomeCopyButton code="npm install @tailus/themer" client:idle />
                    </div>
                </div>
            </div>

            <div class="mx-auto mt-20 gap-3 space-y-12 grid-cols-3">
                <div class="h-full border rounded-[--card-radius] flex items-center">
                    <Sidebar client:idle />
                </div>
                <div class="h-full border rounded-[--card-radius] flex items-center">
                    <Sidebar3 client:idle />
                </div>
                <div class="h-full border rounded-[--card-radius] flex items-center">
                    <Sidebar4 client:idle />
                </div>
                <div class="h-full py-10 border p-[--card-padding] rounded-[--card-radius] flex justify-center items-center">
                    <GradientAreaChart client:idle />
                </div>
                <div class="h-full py-10 border p-[--card-padding] rounded-[--card-radius] flex justify-center items-center">
                    <SimpleBarChart client:idle />
                </div>
                <div class="h-full py-10 border p-[--card-padding] rounded-[--card-radius] flex justify-center items-center">
                    <Traffic client:idle />
                </div>
                <div class="hidden h-full py-10 border p-[--card-padding] rounded-[--card-radius] sm:flex justify-center items-center">
                    <Team client:idle />
                </div>
                <div class={previewContainer}>
                    <ProfileEdit client:idle />
                </div>
                <div class={previewContainer}>
                    <NewProject client:idle />
                </div>
                <div class={previewContainer}>
                    <NewProject2 client:idle />
                </div>
                <div class={previewContainer}>
                    <NewTask client:idle />
                </div>
                <div class={previewContainer}>
                    <RepositoryEdit client:idle />
                </div>
                <div class={previewContainer}>
                    <CalendarCard client:idle />
                </div>
                <div class={previewContainer}>
                    <LoginForm client:idle />
                </div>
                <div class={previewContainer}>
                    <RegisterForm2 client:idle />
                </div>
                <div class={previewContainer}>
                    <RegisterForm client:idle />
                </div>
                <div class={previewContainer}>
                    <Workspace client:idle />
                </div>
                <div class={previewContainer}>
                    <JobBoard client:idle />
                </div>
                <div class={previewContainer}>
                    <OverviewCards client:idle />
                </div>
                <div class={previewContainer}>
                    <StackedCards client:idle />
                </div>
                <div class={previewContainer}>
                    <WithCharts client:idle />
                </div>
                <div class="grid gap-12 sm:grid-cols-2 sm:gap-3">
                    <Card variant="outlined" className="flex aspect-video dark:bg-transparent">
                        <div class="size-fit m-auto">
                            <DatePicker client:idle />
                        </div>
                    </Card>
                    <Card variant="outlined" className="flex aspect-video dark:bg-transparent">
                        <div class="size-fit m-auto">
                            <UserDropdown client:idle />
                        </div>
                    </Card>
                    <Card variant="outlined" className="flex aspect-video dark:bg-transparent">
                        <div class="size-fit m-auto">
                            <SliderExample client:idle />
                        </div>
                    </Card>
                    <Card variant="outlined" className="flex aspect-video dark:bg-transparent">
                        <div class="size-fit m-auto">
                            <ProgressExample client:idle />
                        </div>
                    </Card>
                </div>
            </div>
        </Container>
        <div class="lg:scale-[.78] origin-top max-w-5xl mx-auto">
            <Orders client:visible />
        </div>
    </section>
</Layout>
