---
import PreviewBlock from "@components/PreviewBlock.astro";
import {AriaChartGradient, type Palette} from "@components/examples/AreaChart";
import {Title} from "@components/typography";
const palettes:Palette[] = ["trust", "romance", "passion", "energy", "nature", "mystery", "oz", "spring", "winter"]
---
<>
    {
        palettes.map((palette) => {
            return (
                <div class="space-y-6" data-palette={palette}>
                    <Title size="base" weight="medium" className="capitalize">{palette}</Title>
                    <PreviewBlock codeBlocks={[{code:`theme: {
    extend: {
        colors: palettes.${palette},
    }
}`, lang:"ts"}]}>
                        <AriaChartGradient palette={palette} client:idle />
                    </PreviewBlock>
                </div>
            )

        })
    }
</>