---
import { type CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import DocsSideBar from '../components/DocsSideBar.astro'
import DocsFooter from '../components/DocsFooter.astro'
import { Link } from '@tailus-ui/typography'
import '@styles/pagefind.css'
import '@styles/color-theme.css'
import '@styles/tailus.css'
import DocsPagination from '../components/DocsPagination.astro'
import DocsHeader2 from '../components/DocsHeader2.astro'
import { BlurDivs } from '@components/utilities/DocsProgressiveBlur'
import { Text } from '@tailus-ui/typography/Text'
import { Title } from '@tailus-ui/typography/Title'
import { ArrowTopRightIcon } from '@radix-ui/react-icons'
import Search from '@components/Search'
import PageLoader from '@components/utilities/PageLoader.astro'
import { ViewTransitions } from 'astro:transitions'
import { Bug, Lightbulb, MessageCircle } from 'lucide-react'

type Props = CollectionEntry<'html'>
const docs = Astro.props
const { collection } = docs as Props
const documentation = docs.data
const { headings } = await docs.render()

const getGithubIssueUrl = (repo: string, template: string) => `https://github.com/Tailus-UI/${repo}/issues/new?assignees=&labels=&projects=&template=${template}&title=`
const getGithubDiscussionUrl = (repo: string) => `https://github.com/Tailus-UI/${repo}/discussions/new/choose`

const bugReportTemplate = '%F0%9F%90%9E-bug-report.md'
const newIdeasTemplate = '%F0%9F%92%A1-ideas-for-new-components--new-variants--examples--features-and-improvements-.md'
const repo = 'html.tailus.io'
---

<script>
    const options = {
        root: null,
        threshold: 0,
        rootMargin: '0px',
    }

    document.addEventListener('astro:page-load', () => {
        const headings = document.querySelectorAll('h1, h2')
        const headingLinks = document.querySelectorAll("a[href^='#']")
        const headingIndicator = document.querySelector('#heading-indicator') as HTMLElement

        const observer = new IntersectionObserver(function (entries) {
            entries.forEach((entry) => {
                const { id } = entry.target

                headingLinks.forEach((link) => {
                    const href = link.getAttribute('href')?.replace('#', '')

                    if (href === id) {
                        const { classList } = link

                        if (entry.isIntersecting) {
                            headingIndicator.style.top = `${(link as HTMLElement).offsetTop}px`
                            headingIndicator.style.height = `${(link as HTMLElement).offsetHeight}px`

                            classList.add('font-medium')
                            classList.replace('text-body', 'text-title')
                        } else {
                            classList.remove('font-medium')
                            classList.replace('text-title', 'text-body')
                        }
                    }
                })
            })
        }, options)

        headings.forEach((heading) => {
            observer.observe(heading)
        })
    })
</script>

<script is:inline>
    function setCustomization(document) {
        const theme = localStorage.getItem('theme') || 'dark'

        const root = document.documentElement.classList

        if (theme == 'dark') {
            root.add('dark')
        } else {
            root.remove('dark')
        }
    }

    setCustomization(document)

    document.addEventListener('astro:before-swap', (event) => {
        setCustomization(event.newDocument)
    })
</script>

<html class="scroll-smooth" lang="en" data-palette="tls" data-rounded="xlarge" data-shade="900">
    <head>
        <BaseHead title={`${documentation.title} - Tailus UI ${collection.charAt(0).toUpperCase() + collection.slice(1)}`} description={documentation.description} />
        <ViewTransitions />
        <script src="/pagefind/pagefind-ui.js" is:inline></script>
    </head>
    <body class="relative bg-white font-sans leading-normal antialiased [--btn-radius:theme(borderRadius.lg)] selection:bg-info-600 selection:text-white lg:before:fixed lg:before:inset-0 lg:before:-z-40 dark:bg-gray-925">
        <PageLoader />
        <DocsHeader2 />
        <main class="pt-20 lg:mt-auto" data-pagefind-body>
            <div class="px-8 lg:mx-auto lg:flex lg:max-w-[76rem] lg:gap-24 xl:px-0">
                <div id="menu-list" class="fixed bottom-0 left-0 z-50 hidden h-[calc(100dvh-5.75rem)] w-full bg-white lg:left-auto lg:flex lg:h-[calc(100dvh-4rem)] lg:w-48 lg:flex-col lg:justify-end lg:bg-transparent dark:bg-gray-925 dark:lg:bg-transparent" data-pagefind-ignore>
                    <DocsSideBar target={collection} />
                </div>
                <div class="w-full pt-12 lg:ml-auto lg:w-[calc(100%-17rem)]">
                    <div class="xl:flex xl:gap-16">
                        <div class="space-y-10 xl:w-[calc(100%-17rem)]">
                            <div>
                                <Title id="overview" size="2xl" className="scroll-my-32 sm:leading-none">
                                    {documentation.title}
                                </Title>

                                <Text className="mt-6" size="lg">
                                    {documentation.description}
                                </Text>
                                <div class="mt-4 flex gap-4">
                                    {
                                        documentation.frameworkDocs && (
                                            <Link className="flex items-center group" target="_blank" intent="neutral" variant="underlined" href={documentation.frameworkDocs.link}>
                                                {documentation.frameworkDocs.name}
                                                <ArrowTopRightIcon className="size-3 ml-1 opacity-50 transition group-hover:-translate-y-0.5 group-hover:translate-x-0.5" />
                                            </Link>
                                        )
                                    }
                                </div>
                            </div>
                            <slot />
                            <DocsPagination data-pagefind-ignore page={docs} collection={collection} />
                            <div aria-hidden="true" class="pointer-events-none fixed inset-x-0 top-[3.3rem] mx-auto h-0 w-full -translate-y-px lg:top-6 lg:h-14">
                                <BlurDivs />
                            </div>
                        </div>
                        <div data-pagefind-ignore id="table-of-content" class="feedback-shadow fancy-border fixed right-4 top-24 ml-auto hidden size-fit rounded-[--card-radius] bg-[--ui-bg] p-[--card-padding] lg:sticky lg:top-32 lg:h-fit lg:w-44 lg:rounded-none lg:!border-none lg:bg-transparent lg:p-0 lg:shadow-none lg:!outline-none xl:block">
                            <div class="text-sm font-medium text-gray-900 dark:text-white">On this page</div>
                            <div class="relative ml-px mt-3 h-fit max-h-[calc(100vh-26rem)] w-fit overflow-y-auto">
                                <div id="heading-indicator" aria-hidden="true" class="absolute left-0 top-0 z-[1] hidden border-l-[1.5px] border-gray-950 transition-all duration-300 lg:block dark:border-white"></div>
                                <ul class="relative space-y-0.5 border-l">
                                    <li>
                                        <a href="#overview" class="flex items-center rounded-2xl px-3.5 py-0.5 text-xs font-medium text-gray-600 transition duration-300 hover:text-info-600 dark:text-gray-400 dark:hover:text-info-400"> Overview</a>
                                    </li>
                                    {
                                        headings.map((heading) => {
                                            if (heading.depth === 1 || heading.depth === 2) {
                                                return (
                                                    <li>
                                                        <a href={`#${heading.slug}`} class="flex items-center rounded-2xl px-3.5 py-0.5 text-xs font-medium text-gray-600 transition duration-300 hover:text-info-600 dark:text-gray-400 dark:hover:text-info-400">
                                                            {heading.text}
                                                        </a>
                                                    </li>
                                                )
                                            }
                                        })
                                    }
                                </ul>
                            </div>

                            <div class="mt-6">
                                <div class="text-sm font-medium text-gray-900 dark:text-white">Contribute</div>
                                <div class="mt-2">
                                    <a href={getGithubIssueUrl(repo, bugReportTemplate)} class="flex items-center gap-2 py-1 text-xs text-gray-600 transition duration-300 hover:text-gray-950 dark:text-gray-400 dark:hover:text-white">
                                        <Bug className="size-3.5" />
                                        Report a bug
                                    </a>
                                    <a href={getGithubIssueUrl(repo, newIdeasTemplate)} class="flex items-center gap-2 py-1 text-xs text-gray-600 transition duration-300 hover:text-gray-950 dark:text-gray-400 dark:hover:text-white">
                                        <Lightbulb className="size-3.5" />
                                        New Ideas
                                    </a>
                                    <a href={getGithubDiscussionUrl(repo)} class="flex items-center gap-2 py-1 text-xs text-gray-600 transition duration-300 hover:text-gray-950 dark:text-gray-400 dark:hover:text-white">
                                        <MessageCircle className="size-3.5" />
                                        Start a discussion
                                    </a>
                                </div>
                            </div>

                            <a href="https://ui.tailus.io/templates/ampire/" class="bg-ui-soft peer text-title rounded-btn mt-6 block rounded-b-sm p-0.5 transition-transform duration-300 hover:scale-105" target="_blank">
                                <div class="bg-ui overflow-hidden rounded-[calc(var(--btn-radius)-2px)] border shadow-sm shadow-gray-950/5">
                                    <img class="dark:hidden" src="https://ui.tailus.io/images/templates/ampire/ampire-cover-2.webp" alt="Tailus UI Ampire template" loading="eager" height="" width="" />
                                    <img class="hidden dark:block" src="https://ui.tailus.io/images/templates/ampire/ampire-cover-9.webp" alt="Tailus UI Ampire template" loading="eager" height="" width="" />
                                </div>
                                <span class="mx-2 my-1.5 block text-center text-sm">Complete modern <span class="bg-gradient-to-r from-primary-600 to-secondary-500 bg-clip-text font-medium text-transparent dark:from-primary-400 dark:to-secondary-300">Sass Startup</span> Template</span>
                            </a>

                            <div class="bg-ui-soft rounded-btn mt-px flex flex-wrap items-center justify-center gap-0.5 rounded-t-sm p-3 transition-transform duration-300 peer-hover:scale-105">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>

                                <span class="ml-1 mt-1 block text-xs">32 Ratings</span>
                            </div>
                        </div>
                    </div>
                    <DocsFooter />
                </div>
            </div>
        </main>
        <Search client:load>
            <div id="search"></div>
        </Search>
    </body>
</html>
