---
import { type CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import DocsSideBar from '../components/DocsSideBar.astro'
import DocsFooter from '../components/DocsFooter.astro'
import { Link } from '@tailus-ui/typography'
import '@styles/pagefind.css'
import '@styles/color-theme.css'
import '@styles/tailus.css'
import DocsPagination from '../components/DocsPagination.astro'
import DocsHeader2 from '../components/DocsHeader2.astro'
import { BlurDivs } from '@components/utilities/DocsProgressiveBlur'
import { Text } from '@tailus-ui/typography/Text'
import { Title } from '@tailus-ui/typography/Title'
import { ArrowTopRightIcon } from '@radix-ui/react-icons'
import Search from '@components/Search'
import PageLoader from '@components/utilities/PageLoader.astro'
import { ViewTransitions } from 'astro:transitions'
import { Bug, Lightbulb, MessageCircle } from 'lucide-react'

type Props = CollectionEntry<'html'>
const docs = Astro.props
const { collection } = docs as Props
const documentation = docs.data
const { headings } = await docs.render()

const getGithubIssueUrl = (repo: string, template: string) => `https://github.com/Tailus-UI/${repo}/issues/new?assignees=&labels=&projects=&template=${template}&title=`
const getGithubDiscussionUrl = (repo: string) => `https://github.com/Tailus-UI/${repo}/discussions/new/choose`

const bugReportTemplate = '%F0%9F%90%9E-bug-report.md'
const newIdeasTemplate = '%F0%9F%92%A1-ideas-for-new-components--new-variants--examples--features-and-improvements-.md'
const repo = 'html.tailus.io'
---

<script>
    const options = {
        root: null,
        threshold: 0,
        rootMargin: '0px',
    }

    document.addEventListener('astro:page-load', () => {
        const headings = document.querySelectorAll('h1, h2')
        const headingLinks = document.querySelectorAll("a[href^='#']")
        const headingIndicator = document.querySelector('#heading-indicator') as HTMLElement

        const observer = new IntersectionObserver(function (entries) {
            entries.forEach(entry => {
                const { id } = entry.target

                headingLinks.forEach(link => {
                    const href = link.getAttribute('href')?.replace('#', '')

                    if (href === id) {
                        const { classList } = link

                        if (entry.isIntersecting) {
                            headingIndicator.style.top = `${(link as HTMLElement).offsetTop}px`
                            headingIndicator.style.height = `${(link as HTMLElement).offsetHeight}px`

                            classList.add('font-medium')
                            classList.replace('text-body', 'text-title')
                        } else {
                            classList.remove('font-medium')
                            classList.replace('text-title', 'text-body')
                        }
                    }
                })
            })
        }, options)

        headings.forEach(heading => {
            observer.observe(heading)
        })
    })
</script>

<html class="scroll-smooth dark" lang="en" data-palette="tls" data-rounded="xlarge" data-shade="900">
    <head>
        <BaseHead title={`${documentation.title} - Tailus UI ${collection.charAt(0).toUpperCase() + collection.slice(1)}`} description={documentation.description} />
        <ViewTransitions />
        <script src="/pagefind/pagefind-ui.js" is:inline></script>
    </head>
    <body class="lg:overflow-hidden bg-white relative dark:bg-gray-925 lg:dark:bg-gray-900 font-sans antialiased leading-normal [--btn-radius:theme(borderRadius.lg)] dark:[--ui-border-color:theme(colors.gray.800)] selection:bg-info-600 selection:text-white dark:selection:bg-info-900 dark:selection:text-info-200 lg:before:fixed lg:before:inset-0 lg:before:-z-40 lg:dark:before:[background-image:url('/grainy-bg.svg')] lg:dark:before:opacity-[.015]">
        <div aria-hidden="true" class="lg:fixed blur-3xl -z-50 lg:-inset-56 lg:h-[200vh] origin-top-right rounded-bl-full scale-0 bg-gradient-to-b from-gray-200 opacity-0 dark:opacity-100 from-80% to-transparent transition-[transform,borderRadius] ease-[cubic-bezier(0.87,_0,_0.13,_1)] duration-1000 dark:scale-125 dark:from-gray-925"></div>
        <PageLoader />
        <DocsHeader2 />
        <main class="pt-20 lg:pt-0 lg:fixed lg:inset-x-0 lg:bottom-0 lg:w-screen lg:h-[calc(100vh-4rem)] lg:overflow-auto lg:mt-auto scroll-smooth" data-pagefind-body>
            <div class="px-8 lg:max-w-[76rem] xl:px-0 lg:mx-auto lg:flex lg:gap-24">
                <div id="menu-list" class="fixed bottom-0 w-full left-0 lg:left-auto lg:w-48 hidden h-[calc(100dvh-5.75rem)] lg:h-[calc(100dvh-4rem)] z-50 bg-white dark:bg-gray-925 lg:flex lg:flex-col lg:justify-end lg:bg-transparent dark:lg:bg-transparent" data-pagefind-ignore>
                    <DocsSideBar target={collection} />
                </div>
                <div class="w-full pt-12 lg:w-[calc(100%-17rem)] lg:ml-auto">
                    <div class="xl:flex xl:gap-16">
                        <div class="space-y-10 xl:w-[calc(100%-17rem)]">
                            <div>
                                <Title id="overview" size="2xl" className="sm:leading-none scroll-my-32">
                                    {documentation.title}
                                </Title>

                                <Text className="mt-6" size="lg">
                                    {documentation.description}
                                </Text>
                                <div class="flex gap-4 mt-4">
                                    {
                                        documentation.frameworkDocs && (
                                            <Link className="flex items-center group" target="_blank" intent="neutral" variant="underlined" href={documentation.frameworkDocs.link}>
                                                {documentation.frameworkDocs.name}
                                                <ArrowTopRightIcon className="size-3 ml-1 opacity-50 transition group-hover:-translate-y-0.5 group-hover:translate-x-0.5" />
                                            </Link>
                                        )
                                    }
                                </div>
                            </div>
                            <slot />
                            <DocsPagination data-pagefind-ignore page={docs} collection={collection} />
                            <div aria-hidden="true" class="h-0 lg:h-14 inset-x-0 fixed top-[3.3rem] lg:top-6 -translate-y-px mx-auto w-full pointer-events-none">
                                <BlurDivs />
                            </div>
                        </div>
                        <div data-pagefind-ignore id="table-of-content" class="hidden p-[--card-padding] fixed right-4 fancy-border feedback-shadow top-24 bg-[--ui-bg] z-50 ml-auto rounded-[--card-radius] size-fit xl:block lg:p-0 lg:h-fit lg:w-44 lg:sticky lg:top-12 lg:bg-transparent lg:!outline-none lg:!border-none lg:shadow-none lg:rounded-none">
                            <div class="text-sm text-gray-900 dark:text-white font-medium">On this page</div>
                            <div class="ml-px mt-3 relative w-fit h-fit max-h-[calc(100vh-26rem)] overflow-y-auto">
                                <div id="heading-indicator" aria-hidden="true" class="hidden lg:block absolute top-0 left-0 border-l-[1.5px] transition-all duration-300 border-gray-950 dark:border-white z-[1]"></div>
                                <ul class="relative border-l space-y-0.5">
                                    <li>
                                        <a href="#overview" class="text-xs flex items-center font-medium px-3.5 py-0.5 text-gray-600 dark:text-gray-400 hover:text-info-600 dark:hover:text-info-400 transition duration-300 rounded-2xl"> Overview</a>
                                    </li>
                                    {
                                        headings.map(heading => {
                                            if (heading.depth === 1 || heading.depth === 2) {
                                                return (
                                                    <li>
                                                        <a href={`#${heading.slug}`} class="text-xs flex items-center font-medium px-3.5 py-0.5 text-gray-600 dark:text-gray-400 hover:text-info-600 dark:hover:text-info-400 transition duration-300 rounded-2xl">
                                                            {heading.text}
                                                        </a>
                                                    </li>
                                                )
                                            }
                                        })
                                    }
                                </ul>
                            </div>

                            <div class="mt-6">
                                <div class="text-sm text-gray-900 dark:text-white font-medium">Contribute</div>
                                <div class="mt-2">
                                    <a href={getGithubIssueUrl(repo, bugReportTemplate)} class="flex items-center text-xs gap-2 py-1 text-gray-600 dark:text-gray-400 hover:text-gray-950 dark:hover:text-white transition duration-300">
                                        <Bug className="size-3.5" />
                                        Report a bug
                                    </a>
                                    <a href={getGithubIssueUrl(repo, newIdeasTemplate)} class="flex items-center text-xs gap-2 py-1 text-gray-600 dark:text-gray-400 hover:text-gray-950 dark:hover:text-white transition duration-300">
                                        <Lightbulb className="size-3.5" />
                                        New Ideas
                                    </a>
                                    <a href={getGithubDiscussionUrl(repo)} class="flex items-center text-xs gap-2 py-1 text-gray-600 dark:text-gray-400 hover:text-gray-950 dark:hover:text-white transition duration-300">
                                        <MessageCircle className="size-3.5" />
                                        Start a discussion
                                    </a>
                                </div>
                            </div>

                            <a href="https://ui.tailus.io/templates/ampire/" class="mt-6 peer text-title block p-0.5 bg-ui-soft rounded-btn rounded-b-sm hover:scale-105 transition-transform duration-300" target="_blank">
                                <div class="border shadow-sm shadow-gray-950/5 overflow-hidden rounded-[calc(var(--btn-radius)-2px)] bg-ui">
                                    <img class="dark:hidden" src="https://ui.tailus.io/images/templates/ampire/ampire-cover-2.webp" alt="Tailus UI Ampire template" loading="eager" height="" width="" />
                                    <img class="hidden dark:block" src="https://ui.tailus.io/images/templates/ampire/ampire-cover-9.webp" alt="Tailus UI Ampire template" loading="eager" height="" width="" />
                                </div>
                                <span class="block text-center mx-2 my-1.5 text-sm">Complete modern <span class="font-medium text-transparent bg-clip-text bg-gradient-to-r from-primary-600 dark:from-primary-400 to-secondary-500 dark:to-secondary-300">Sass Startup</span> Template</span>
                            </a>

                            <div class="mt-px rounded-t-sm rounded-btn p-3 flex-wrap gap-0.5 bg-ui-soft flex justify-center items-center transition-transform peer-hover:scale-105 duration-300">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                    <path fill-rule="evenodd" d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z" clip-rule="evenodd"></path>
                                </svg>

                                <span class="block mt-1 ml-1 text-xs">32 Ratings</span>
                            </div>
                        </div>
                    </div>
                    <DocsFooter />
                </div>
            </div>
        </main>
        <Search client:load>
            <div id="search"></div>
        </Search>
    </body>
</html>
