---
import { type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import DocsSideBar from "../components/DocsSideBar.astro";
import DocsFooter from "../components/DocsFooter.astro";
import "@styles/pagefind.css";
import "@styles/color-theme.css";
import DocsPagination from "../components/DocsPagination.astro";
import DocsHeader2 from "../components/DocsHeader2.astro";
import { BlurDivs } from "@components/utilities/DocsProgressiveBlur";
import { Text } from "@components/typography/Text";
import { Title } from "@components/typography/Title";
import Search from "@components/Search";
import PageLoader from "@components/utilities/PageLoader.astro";
import { ViewTransitions } from "astro:transitions";

type Props = CollectionEntry<"themer" | "react">;
const docs = Astro.props;
const { collection } = docs as Props;
const documentation = docs.data;
---

<html
  class="scroll-smooth dark"
  lang="en"
  data-palette="tls"
  data-rounded="xlarge"
>
  <head>
    <BaseHead
      title={`${documentation.title} - Tailus UI ${collection.charAt(0).toUpperCase() + collection.slice(1)}`}
      description={documentation.description}
    />
    <ViewTransitions />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
  </head>
  <body
    class="lg:overflow-hidden bg-gray-50 relative dark:bg-gray-950 font-sans antialiased leading-normal [--btn-radius:theme(borderRadius.lg)] dark:[--ui-border-color:theme(colors.gray.800)] selection:bg-info-600 selection:text-white dark:selection:bg-info-900 dark:selection:text-info-200"
  >
    <PageLoader />
    <DocsHeader2 asThemer />
    <main
      class="pt-20 lg:pt-0 lg:fixed lg:inset-x-0 lg:bottom-0 lg:w-screen lg:h-[calc(100vh-4rem)] lg:overflow-auto lg:mt-auto scroll-smooth"
      data-pagefind-body
    >
      <div class="px-8 lg:max-w-5xl xl:px-0 lg:mx-auto lg:flex lg:gap-24">
        <div
          id="menu-list"
          class="fixed bottom-0 w-full left-0 lg:left-auto lg:w-48 hidden h-[calc(100dvh-5.75rem)] lg:h-[calc(100dvh-6.5rem)] z-50 bg-white dark:bg-gray-925 lg:flex lg:flex-col lg:justify-end lg:bg-transparent dark:lg:bg-transparent"
          data-pagefind-ignore
        >
          <DocsSideBar target={collection} />
        </div>
        <div class="w-full pt-12 lg:w-[calc(100%-15rem)] lg:ml-auto">
          <div data-shade="900" class="space-y-3">
            <div
              class="-mt-14 -mb-[57px] py-12 sm:p-12 space-y-10 bg-white dark:bg-transparent sm:border"
            >
              <div
                class="sm:px-12 sm:-mx-12 pb-3 flex items-center gap-3 border-b"
              >
                <span class="text-sm text-[--caption-text-color]"
                  >Themer / {docs.slug}</span
                >
              </div>
              <div>
                <Title
                  id="overview"
                  size="2xl"
                  className="sm:leading-none scroll-my-32"
                >
                  {documentation.title}
                </Title>

                <Text className="mt-6" size="lg">
                  {documentation.description}
                </Text>
              </div>
              <slot />
              <DocsPagination
                data-pagefind-ignore
                page={docs}
                collection={collection}
              />
              <div
                aria-hidden="true"
                class="h-0 lg:h-14 inset-x-0 fixed top-[3.3rem] lg:top-6 -translate-y-px mx-auto w-full pointer-events-none"
              >
                <BlurDivs />
              </div>
            </div>
          </div>
        </div>
      </div>
      <DocsFooter asThemer />
    </main>
    <Search client:load>
      <div id="search"></div>
    </Search>
  </body>
</html>
